 @import url(//fonts.googleapis.com/css?family=Open+Sans);
* {
    font-family: 'Open Sans', sans-serif;
}
a:link {
    color: #000;
}

/* visited link */
a:visited {
    color: #000;
}

/* mouse over link */
a:hover {
    color: #000;
}

/* selected link */
a:active {
    color: #000;
}
body {
    background-color: rgb(243, 76, 61);
    
}
#wrapper {
    margin: 0 auto;
}
.card {
    width: 450px;
    background-color: #fff;   
    padding: 10px;
    margin: 0 auto;
    border-style: solid;
    border-color: #e3e3e3;
    border-width: 2px;
}
.content_card{
   // min-height: 200px;
    text-align: justify
}

h3 {
    margin-top: 0;
    width: 60%;
    height: 40px;
    float:left;
}
.time {
    float: right;
    width: 40%;
    text-align: right;
    position: absolute;
    bottom: 0;
    color: #f5f5f5;
    font-size: 11pt;
}
.card {
    display: block;
}
.card div {
    display: block;
}
div .card_header{
    height: 40px;
    position: relative;
}
hr {
    width: 100%;
}
.bigtitle {
    max-height:100px;
    background-color: #d6d6d6;
}
.peoplesay {
    font-weight: bold;
}
.said {
    color: #bfbfbf;
    width: 100%;
}
.input-wrap {
    width: 100%;
    
}
.input-wrap label, .input-wrap input, .input-wrap textarea {
    width: 100%;
    display: inline-block;
}
.input-wrap textarea {
    min-height: 50px;
    max-width: 100%;
}
.input-wrap span {
    font-size: small;
    color: red;
}
.header {
    background-color: rgb(243, 76, 61);
}
#maincontent {
    min-height: 50px;
    width: 474px;
    margin: 0 auto;
}